.about-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    gap: 50px;
    .avatar-about{
        // border-radius: 25px;
        width: 30%;
    }
    .cv-BTN:hover{
        color: var(--cvBTN-color);
    }
}

@media all and (max-width: 912px) {
	.about-section {
		flex-direction: column;
		text-align: center;
        .about-container{
            flex-direction: column;
            height: auto;
        }
	}
}

@media all and (max-width: 540px) {
    .about-section {
        .about-container{
            flex-direction: column;
            height: auto;
        }
	}
}

@media all and (max-width: 375px) {
    .about-section {
        .about-container{
            flex-direction: column;
            height: auto;
        }
	}
}