footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px;
    .footer-link{
        display: flex;
        gap: 30px;
        padding: 10px;
    }
    .icon-footer{
        display: flex;
        gap: 20px;
        padding: 10px;
    }
}