.job-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	.job-container {
		display: grid;
		grid-template-columns: 1fr 0fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		.job-content {
			display: flex;
			flex-direction: column;
		}
		.one {
			margin-right: 30px;
			grid-column: 1;
			grid-row: 1;
		}
		.style-one {
			grid-column: 2 / 3;
			grid-row: 1;
		}
		.two {
			text-align: right;
			margin-left: 30px;
			grid-column: 3 / 3;
			grid-row: 2;
		}
		.style-two {
			grid-column: 2 / 3;
			grid-row: 2;
		}
		.three {
			margin-right: 30px;
			grid-column: 1;
			grid-row: 3;
		}
		.style-three {
			grid-column: 2 / 3;
			grid-row: 3;
		}
		.job-rounder {
			display: inline-block;
			width: 13px;
			height: 13px;
			background-color: var(--clr-primary);
			border-radius: 50%;
		}
		.job-line {
			display: block;
			width: 1px;
			height: 100%;
			background-color: var(--clr-primary);
			transform: translate(6px, -7px);
		}
	}
}

@media all and (max-width: 414px) {
	.job-section {
		margin: 160px 45px;
	}
}

@media all and (max-width: 390px) {
	.job-section {
		margin: 200px 45px;
	}
}


@media all and (max-width: 375px) {
	.job-section {
		margin: 250px 45px;
	}
}