@import './style/Navbar';
@import './style/Home';
@import './style/AboutCard';
@import './style/Skills';
@import './style/Qualification';
@import './style/Footer';
@import './style/FormComponent';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.light-mode {
	// --bs-body-bg: white;
	// --bs-body-color: #2a2a2a !important;
	--bs-link-color: #2a2a2a !important;
	--bs-link-hover-color: #1a1a1abe !important;
	--clr-primary: #2a2a2a !important;
	--clr-text: white !important;
	--navColor-bg: white;
	--navColor-text: black;
	--textColor-btn: black;
	--cvBTN-color: rgba(245, 245, 245, 0.877);
}

.dark-mode {
	--bs-body-bg: black !important;
	--bs-body-color: white !important;
	--bs-link-color: white !important;
	--bs-link-hover-color: rgba(245, 245, 245, 0.877) !important;
	--clr-primary: white !important;
	--clr-text: black !important;
	--select-color: white;
	--option-color-bg: black;
	--textColor-btn: white;
	--navColor-bg: black;
	--navColor-text: white;
	--cvBTN-color: #1a1a1abe;
}

.BTN {
	border: none;
	padding: 0.4rem 1.25rem;
	border-radius: 7px;
	height: 35px;
	background-color: var(--clr-primary);
	color: var(--clr-text);
}

a {
	text-decoration: none !important;
}
