.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-section h3 {
  padding: 0 50px;
}
.nav-section header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding: 0 2rem;
}
.nav-section header nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-section header nav .link {
  position: relative;
  display: inline-block;
}
.nav-section header nav .link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--navColor-text);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.nav-section header nav .link:hover::before {
  scale: 1;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor-btn);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 912px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: var(--navColor-bg);
    color: var(--navColor-text);
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 80vh;
}
section .title {
  font-size: 65px;
  margin-bottom: 25px;
}
section .subtitle {
  margin-bottom: 30px;
}
section .icon {
  display: flex;
  flex-direction: column;
  gap: 35px;
  cursor: pointer;
}
section .avatar {
  border-radius: 50%;
  width: 35%;
}

@media all and (max-width: 1024px) {
  section {
    gap: 50px;
  }
}
@media all and (max-width: 912px) {
  section {
    flex-direction: column-reverse;
    text-align: center;
  }
  section .icon {
    flex-direction: row;
  }
  section .avatar {
    margin-top: 50px;
  }
  section .title {
    margin-bottom: 0;
  }
  section .subtitle {
    margin-top: 20px;
    margin-bottom: 0;
  }
  section p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
@media all and (max-width: 412px) {
  section {
    height: auto;
  }
}
.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  gap: 50px;
}
.about-container .avatar-about {
  width: 30%;
}
.about-container .cv-BTN:hover {
  color: var(--cvBTN-color);
}

@media all and (max-width: 912px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-section .about-container {
    flex-direction: column;
    height: auto;
  }
}
@media all and (max-width: 540px) {
  .about-section .about-container {
    flex-direction: column;
    height: auto;
  }
}
@media all and (max-width: 375px) {
  .about-section .about-container {
    flex-direction: column;
    height: auto;
  }
}
.skills-section {
  padding: 100px;
}
.skills-section .card {
  border-radius: 20px !important;
}
.skills-section .card .skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}
.skills-section .card .skills-container .skills-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.job-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.job-section .job-container {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.job-section .job-container .job-content {
  display: flex;
  flex-direction: column;
}
.job-section .job-container .one {
  margin-right: 30px;
  grid-column: 1;
  grid-row: 1;
}
.job-section .job-container .style-one {
  grid-column: 2/3;
  grid-row: 1;
}
.job-section .job-container .two {
  text-align: right;
  margin-left: 30px;
  grid-column: 3/3;
  grid-row: 2;
}
.job-section .job-container .style-two {
  grid-column: 2/3;
  grid-row: 2;
}
.job-section .job-container .three {
  margin-right: 30px;
  grid-column: 1;
  grid-row: 3;
}
.job-section .job-container .style-three {
  grid-column: 2/3;
  grid-row: 3;
}
.job-section .job-container .job-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--clr-primary);
  border-radius: 50%;
}
.job-section .job-container .job-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--clr-primary);
  transform: translate(6px, -7px);
}

@media all and (max-width: 414px) {
  .job-section {
    margin: 160px 45px;
  }
}
@media all and (max-width: 390px) {
  .job-section {
    margin: 200px 45px;
  }
}
@media all and (max-width: 375px) {
  .job-section {
    margin: 250px 45px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px;
}
footer .footer-link {
  display: flex;
  gap: 30px;
  padding: 10px;
}
footer .icon-footer {
  display: flex;
  gap: 20px;
  padding: 10px;
}
footer .link {
  position: relative;
  display: inline-block;
}
footer .link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--navColor-text);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
footer .link:hover::before {
  scale: 1;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.form-container {
  display: flex;
  align-items: center;
}
.form-container form {
  width: 300px;
  height: 640px;
}
.form-container form input {
  height: 55px;
}
.form-container form .textarea {
  height: 180px;
}

@media all and (max-width: 540px) {
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.light-mode {
  --bs-link-color: #2a2a2a !important;
  --bs-link-hover-color: #1a1a1abe !important;
  --clr-primary: #2a2a2a !important;
  --clr-text: white !important;
  --navColor-bg: white;
  --navColor-text: black;
  --textColor-btn: black;
  --cvBTN-color: rgba(245, 245, 245, 0.877);
}

.dark-mode {
  --bs-body-bg: black !important;
  --bs-body-color: white !important;
  --bs-link-color: white !important;
  --bs-link-hover-color: rgba(245, 245, 245, 0.877) !important;
  --clr-primary: white !important;
  --clr-text: black !important;
  --select-color: white;
  --option-color-bg: black;
  --textColor-btn: white;
  --navColor-bg: black;
  --navColor-text: white;
  --cvBTN-color: #1a1a1abe;
}

.BTN {
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: 7px;
  height: 35px;
  background-color: var(--clr-primary);
  color: var(--clr-text);
}

a {
  text-decoration: none !important;
}/*# sourceMappingURL=index.css.map */