@import './style/Navbar';
@import './style/Home';
@import './style/ImgCard';
@import './style/Skills';
@import './style/Qualification';
@import './style/Footer';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.light-mode {
	// --bs-body-bg: white;
	// --bs-body-color: #2a2a2a !important;
	--bs-link-color: #2a2a2a !important;
	--bs-link-hover-color: #1a1a1abe !important;
	--clr-primary: #2a2a2a !important;
	--clr-text: white !important;
	--nav-link-color: #2a2a2a;
	--nav-link-hover-color: #1a1a1abe;

	// --bs-navbar-active-color:  #2a2a2a !important;
	// --bs-offcanvas-bg: red !important;
}

.dark-mode {
	--bs-body-bg: black !important;
	--bs-body-color: white !important;
	--bs-link-color: white !important;
	--bs-link-hover-color: rgba(245, 245, 245, 0.877) !important;
	--clr-primary: white !important;
	--clr-text: black !important;
	--select-color: white;
	--option-color-bg: black;
	// --nav-link-color: white;
	// --nav-link-hover-color: rgba(245, 245, 245, 0.877);

	// --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 0.55%29'
	// 	stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>) !important;

	
	// --bs-navbar-active-color: white !important;
	// --bs-navbar-brand-color: white !important;
}

.BTN {
	border: none;
	padding: 0.4rem 1.25rem;
	border-radius: 7px;
	height: 35px;
	background-color: var(--clr-primary);
	color: var(--clr-text);
}

a {
	text-decoration: none !important;
}
