.navbar-dark {
  display: flex;
}
.navbar-dark .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 80vh;
}
section .title {
  font-size: 65px;
  margin-bottom: 25px;
}
section .subtitle {
  margin-bottom: 30px;
}
section .icon {
  display: flex;
  flex-direction: column;
  gap: 35px;
  cursor: pointer;
}
section .avatar {
  border-radius: 50%;
}

@media all and (max-width: 1024px) {
  section {
    gap: 50px;
  }
}
@media all and (max-width: 414px) {
  section {
    flex-direction: column-reverse;
    text-align: center;
  }
  section .icon {
    flex-direction: row;
  }
  section .avatar {
    width: 150px;
    height: 150px;
  }
  section .title {
    margin-bottom: 0;
  }
  section .subtitle {
    margin-top: 20px;
    margin-bottom: 0;
  }
  section p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  gap: 50px;
}
.about-container .avatar-img {
  border-radius: 25px;
}

@media all and (max-width: 540px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-section .about-container {
    flex-direction: column;
  }
}
.card {
  border-radius: 20px !important;
}
.card .skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}
.card .skills-container .skills-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.job-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.job-section .job-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.job-section .job-container .job-content {
  display: flex;
  flex-direction: column;
}
.job-section .job-container .one {
  grid-column: 1;
  grid-row: 1;
}
.job-section .job-container .style-one {
  grid-column: 2/3;
  grid-row: 1;
}
.job-section .job-container .two {
  grid-column: 3/3;
  grid-row: 2;
}
.job-section .job-container .style-two {
  grid-column: 2/3;
  grid-row: 2;
}
.job-section .job-container .three {
  grid-column: 1;
  grid-row: 3;
}
.job-section .job-container .style-three {
  grid-column: 2/3;
  grid-row: 3;
}
.job-section .job-container .job-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--clr-primary);
  border-radius: 50%;
}
.job-section .job-container .job-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--clr-primary);
  transform: translate(6px, -7px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.light-mode {
  --bs-body-bg: white !important;
  --bs-body-color: #2a2a2a !important;
  --bs-link-color: #2a2a2a !important;
  --bs-link-hover-color: rgba(245, 245, 245, 0.877) !important;
  --clr-primary: #2a2a2a !important;
  --clr-text: white !important;
}

.dark-mode {
  --bs-body-bg: black !important;
  --bs-body-color: white !important;
  --bs-link-color: white !important;
  --bs-link-hover-color: rgba(245, 245, 245, 0.877) !important;
  --clr-primary: white !important;
  --clr-text: black !important;
  --bs-navbar-color: white !important;
  --bs-nav-link-color: white !important;
  --bs-navbar-hover-color: rgba(245, 245, 245, 0.877) !important;
  --bs-nav-link-hover-color: rgba(245, 245, 245, 0.877) !important;
}

.BTN {
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: 7px;
  height: 35px;
  background-color: var(--clr-primary);
  color: var(--clr-text);
}

a {
  text-decoration: none !important;
}/*# sourceMappingURL=index.css.map */